# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# front ignores
.next/
next-env.d.ts
front/.next/
front/out/
front/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.env
**/node_modules
**/.DS_Store
**/*.pem
