node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
*.pid
*.seed
*.pid.lock
*.wsp
*.out
*.swo
*.swp
*.swn
*.un~
*.gitignore
*.dockerignore
*.eslintrc
*.eslintignore
*.jshintrc
*.flowconfig
.babelrc
.coveralls.yml
.editorconfig
.git
.gitattributes
.gitmodules
.svn
.nyc_output
*.tsbuildinfo
build
.dockerignore
Dockerfile*
.dockerignore
.dockerignore
Jenkinsfile*
.eslintignore
.eslintrc.js
.eslintrc.cjs
.eslintrc.yml
.eslintrc.yaml
.eslintrc.json
*.yarn-integrity
yarn.lock
yarn-error.log
*.md
*.markdown
Dockerfile
docker-compose.yml
docker-compose.dev.yml
yarn-error.log